<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head')%>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/simple-header') %>
        <h1 class="justify-content-center align-items-center text-center">Política de tratamiento de datos</h1>
        <div class="container">
            <ul>
                <p>En La pizza de el canas, entendemos la importancia de proteger la privacidad de nuestros clientes
                    y visitantes en línea. Esta política describe cómo recopilamos, utilizamos y protegemos la
                    información personal que usted nos proporciona a través de nuestro sitio web
                    www.lapizzadeelcanas.com. Al
                    utilizar nuestro sitio web, usted acepta los términos y condiciones de esta política.</p>
                <li><b>Información recopilada</b></li>
                <p>Recopilamos información personal que usted nos proporciona voluntariamente, como su nombre, dirección
                    de correo electrónico, dirección postal, número de teléfono, etc., cuando se registra en nuestro
                    sitio, realiza un pedido en línea o se comunica con nosotros a través de formularios de contacto.
                    También recopilamos información de forma automática a través de cookies y otras tecnologías de
                    seguimiento para mejorar su experiencia en nuestro sitio web y para recopilar información sobre cómo
                    se utiliza nuestro sitio.</p>
                <li><b>Uso de la información</b></li>
                <p>Utilizamos la información personal que recopilamos para procesar sus pedidos, responder a sus
                    consultas, enviarle actualizaciones sobre su pedido, mejorar nuestro sitio web y servicios, y
                    enviarle comunicaciones de marketing si ha optado por recibirlas. No compartiremos su información
                    personal con terceros no afiliados sin su consentimiento, excepto en los casos requeridos por la
                    ley.</p>
                <li><b>Protección de la información</b></li>
                <p>Tomamos medidas razonables para proteger la información personal que recopilamos contra el acceso no
                    autorizado, la divulgación, la alteración o la destrucción. Sin embargo, ninguna medida de seguridad
                    es completamente segura, por lo que no podemos garantizar la seguridad absoluta de su información.
                </p>
                <li><b>Sus Derechos</b></li>
                <p>Usted tiene derecho a acceder, corregir, actualizar o eliminar su información personal en cualquier
                    momento. También puede optar por no recibir comunicaciones de marketing de nuestra parte en
                    cualquier momento. Para ejercer estos derechos, póngase en contacto con nosotros utilizando la
                    información de contacto que se proporciona al final de esta política.</p>
                <li><b>Cambios en la Política</b></li>
                <p>Nos reservamos el derecho de modificar esta política en cualquier momento, así que por favor revísela
                    periódicamente para estar al tanto de cualquier cambio. El uso continuado de nuestro sitio web
                    después de la publicación de cambios en esta política constituirá su aceptación de dichos cambios.
                </p>
                <li><b>Contacto</b></li>
                <p>Si tiene alguna pregunta sobre esta política o sobre cómo manejamos sus datos personales, no dude en
                    ponerse en contacto con nosotros a través de <a
                        href="mailto:contacto@lapizzadeelcanas.com">contacto@lapizzadeelcanas.com</a>.
                </p>
            </ul>
        </div>

        <%- include('../partials/footer') %>
</body>

</html>