<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Pizza De El Canas</title>
    <link rel="icon" type="image/jpg" href="favicon/pizza2.png" />
    <!--Tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/80719e25d6.js" crossorigin="anonymous"></script>
</head>

<body>
      
    
 <!--Header-->
<header class="h-64 w-full bg-cover" style="background-image: url(https://www.itl.cat/pngfile/big/297-2975266_making-pizza-food-and-drink-pizzas-tomato-tomatoes.jpg);">
<h1 class="text-center text-5xl md:text-6xl lg:text-7xl font-serif text-white flex flex-col items-center justify-center h-full"><i>La Pizza <br>De El Canas</i></h1>
</header>

 <!--Navbar-->
<main class="my-12 px-6">
<nav class="flex items-center justify-center space-x-6">
<a href="index" class="bg-orange-300 py-1 px-4 border border-orange-400 rounded-full">Menú</a>
<a href="ubicacion" >Ubicación</a>
<a href="precios" >Precios</a>
</nav>

 <!--Contenido-->
<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-10 mt-12">
    <article class="bg-white border border-gray-200 transform duration-300 hover:shadow-xl hover:scale-105 p-4 rounded-lg ">
<em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 "> Carnes
</em>
<img class="w-64 mx-auto transform transition duration-300 hover:scale-105"src="ima/pexels-yassir-abbas-12046657.jpg" alt="">
<div class="flex flex-col items-center my-3 space-y-2">
<h1 class="text-gray-900 text-lg">
    Ingredientes
</h1>
<p class="text-gray-500 text-sm text-center">
    Pomodoro, jamón, salami, chorizo, pollo desmechado y queso mozarella.
</p>
</div>
</article>


<article class="bg-white border border-gray-200 transform duration-300 hover:shadow-xl hover:scale-105 p-4 rounded-lg">
<em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Hawaiana</em>
<img class="w-64 mx-auto transform transition duration-300 hover:scale-105"src="ima/pexels-yassir-abbas-12046657.jpg" alt="">
<div class="flex flex-col items-center my-3 space-y-2">
    <h1 class="text-gray-900 text-lg">
        Ingredientes
    </h1>
    <p class="text-gray-500 text-sm text-center">
        Pomodoro, jamon, piña y queso mozarella.
    </p>
</div>
</article>

<article class="bg-white border border-gray-200 transform duration-300 hover:shadow-xl hover:scale-105 p-4 rounded-lg">
    <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Mexicana</em>
    <img class="w-64 mx-auto transform transition duration-300 hover:scale-105"src="ima/pexels-yassir-abbas-12046657.jpg" alt="">
    <div class="flex flex-col items-center my-3 space-y-2">
        <h1 class="text-gray-900 text-lg">
            Ingredientes
        </h1>
        <p class="text-gray-500 text-sm text-center">
            Pomodoro, carne molida, queso mozarella, pico de gallo, jalapeños, maiz tierno, pimentón y tostacos.
        </p>
    </div>
</article>
<article class="bg-white border border-gray-200 transform duration-300 hover:shadow-xl hover:scale-105 p-4 rounded-lg">
    <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Criolla</em>
    <img class="w-64 mx-auto transform transition duration-300 hover:scale-105"src="ima/pexels-yassir-abbas-12046657.jpg" alt="">
    <div class="flex flex-col items-center my-3 space-y-2">
        <h1 class="text-gray-900 text-lg">
            Ingredientes
        </h1>
        <p class="text-gray-500 text-sm text-center">
            Pomodoro, carne desmechada, queso mozarella, maiz tierno y hogao.
        </p>
    </div>
</article>
<article class="bg-white border border-gray-200 transform duration-300 hover:shadow-xl hover:scale-105 p-4 rounded-lg">
    <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Pollo con champoñoses</em>
    <img class="w-64 mx-auto transform transition duration-300 hover:scale-105"src="ima/pexels-yassir-abbas-12046657.jpg" alt="">
    <div class="flex flex-col items-center my-3 space-y-2">
        <h1 class="text-gray-900 text-lg">
            Ingredientes
        </h1>
        <p class="text-gray-500 text-sm text-center">
            Pomodoro, champiñones, queso mozarella y pollo desmechado.
        </p>
    </div>
</article>

<article class="bg-white border border-gray-200 transform duration-300 hover:shadow-xl hover:scale-105 p-4 rounded-lg">
    <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Costillitas BBQ</em>
    <img class="w-64 mx-auto transform transition duration-300 hover:scale-105"src="ima/pexels-yassir-abbas-12046657.jpg" alt="">
    <div class="flex flex-col items-center my-3 space-y-2">
        <h1 class="text-gray-900 text-lg">
            Ingredientes
        </h1>
        <p class="text-gray-500 text-sm text-center">
            Pomodoro, costillas de cerdo deshuesadas, queso mozarella y salsa BBQ de la casa.
        </p>
    </div>
</article>



</main>
<!--Pie de paguina-->

<%- include("partials/footer.ejs") %>


</body>

</html>