<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Pizza De El Canas</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" type="image/jpg" href="favicon/pizza2.png" />
    <!--Tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/80719e25d6.js" crossorigin="anonymous"></script>
    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="ima/favicon/pizza2.png" />

</head>


<body>
    <!--Header-->
    <header class="relative">
        <img src="ima/header.jpg" class="h-64 w-full bg-cover" alt="">
        <div class="absolute inset-0 flex items-center justify-center">
            <h1 class="text-center text-white text-5xl md:text-6xl lg:text-7xl font-serif">
                <i>La Pizza <br>De El Canas</i>
            </h1>
        </div>
        <div class="absolute top-4 right-4">
            <button
                class="w-48 py-1.5 bg-orange-400 text-white focus:outline-none rounded-lg cursor-pointer hover:bg-orange-300">
                <a href="login">Iniciar Sesión</a>
            </button>
        </div>
    </header>
    <!-- Barra de navegacion -->
    <nav class=" py-4 relative  ">
        <div class="container mx-auto flex px-8 xl:px-0">

            <div class="flex lg:hidden">
                <button><i class="fa-solid fa-bars"></i></button>
            </div>
            <div class="lg:flex hidden flex-grow justify-center">
                <div>
                    <button class="bg-orange-400 hover:bg-orange-300 px-4 py-2 rounded-lg mr-4">
                        <a href="#menu" class="font-bold text-white">Menú</a>
                    </button>
                    <button class="bg-orange-400 hover:bg-orange-300 px-4 py-2 rounded-lg mr-4">
                        <a href="#precios" class="font-bold text-white">Precios</a>
                    </button>
                    <button class="bg-orange-400 hover:bg-orange-300 px-4 py-2 rounded-lg">
                        <a href="#ubicación" class="font-bold text-white">Visítanos</a>
                    </button>
                </div>
            </div>

        </div>
    </nav>

    <!-- Contenido principal -->
    <main class="my-12 px-6">
        <h1 id="menu" class="text-center md:text-1xl lg:text-3xl font-serif">
            <i>Menú</i>
        </h1>
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-10 mt-12">
            <article class="bg-white border border-gray-200  p-4 rounded-lg ">
                <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">
                    Carnes
                </em>
                <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <img src="ima/carnes.jpg" alt="">
                </div>

                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        Ingredientes
                    </h1>
                    <p class="text-gray-500 text-sm text-center">
                        Pomodoro, jamón, salami, chorizo, pollo desmechado y queso mozarella.
                    </p>
                </div>
            </article>
            <article class="bg-white border border-gray-200 p-4 rounded-lg ">
                <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">
                    Colombiana
                </em>
                <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <img src="ima/colombiana.jpg" alt="">
                </div>

                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        Ingredientes
                    </h1>
                    <p class="text-gray-500 text-sm text-center">
                        Pomodoro, carne molida, chorizo paisa, cebolla caramelizada y queso mozarella.
                    </p>
                </div>
            </article>
            <article class="bg-white border border-gray-200 p-4 rounded-lg ">
                <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">
                    Napolitana
                </em>
                <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <img src="ima/napolitana.jpg" alt="">
                </div>

                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        Ingredientes
                    </h1>
                    <p class="text-gray-500 text-sm text-center">
                        Pomodoro, queso mozarella, tomate y finas hierbas.
                    </p>
                </div>
            </article>
            <article class="bg-white border border-gray-200 p-4 rounded-lg">
                <em
                    class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Hawaiana</em>
                <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <img src="ima/hawaiana.jpg" alt="">
                </div>

                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        Ingredientes
                    </h1>
                    <p class="text-gray-500 text-sm text-center">
                        Pomodoro, jamon, piña y queso mozarella.
                    </p>
                </div>
            </article>
            <article class="bg-white border border-gray-200 p-4 rounded-lg">
                <em
                    class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Mexicana</em>
                <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <img src="ima/mexicana.jpg" alt="">
                </div>

                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        Ingredientes
                    </h1>
                    <p class="text-gray-500 text-sm text-center">
                        Pomodoro, carne molida, queso mozarella, pico de gallo, jalapeños, maiz
                        tierno, pimentón y tostacos.
                    </p>
                </div>
            </article>
            <article class="bg-white border border-gray-200 p-4 rounded-lg">
                <em
                    class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Criolla</em>
                <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <img src="ima/criolla.jpg" alt="">
                </div>

                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        Ingredientes
                    </h1>
                    <p class="text-gray-500 text-sm text-center">
                        Pomodoro, carne desmechada, queso mozarella, maiz tierno y hogao.
                    </p>
                </div>
            </article>
            <article class="bg-white border border-gray-200 p-4 rounded-lg">
                <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Pollo
                    con champoñoses</em>
                <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <img src="ima/champinones.jpg" alt="">
                </div>

                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        Ingredientes
                    </h1>
                    <p class="text-gray-500 text-sm text-center">
                        Pomodoro, champiñones, queso mozarella y pollo desmechado.
                    </p>
                </div>
            </article>
            <article class="bg-white border border-gray-200 p-4 rounded-lg">
                <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Costillitas
                    BBQ</em>
                <div class="w-auto h-64 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                        <img src="ima/costillas.jpg" alt="">
                    </div>

                </div>
                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        Ingredientes
                    </h1>
                    <p class="text-gray-500 text-sm text-center">
                        Pomodoro, costillas de cerdo deshuesadas, queso mozarella y salsa BBQ de
                        la casa.
                    </p>
                </div>
            </article>
    </main>

    <!-- Seccion de precios -->
    <main class="my-12 px-6">
        <h1 id="precios" class="text-center md:text-1xl lg:text-3xl font-serif"><i>Precios</i>
        </h1>
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-10 mt-12">
            <article class="bg-white border border-gray-200 p-4 rounded-lg ">
                <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">
                    Familiar (55cm)
                </em>
                <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <img src="ima/familiar.jpg" alt="">
                </div>
                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        $46.000
                    </h1>
                </div>
            </article>
            <article class="bg-white border border-gray-200 p-4 rounded-lg">
                <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Junior
                    (40cm)</em>
                <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <img src="ima/mediana.jpg" alt="">
                </div>
                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        $36.000
                    </h1>
                </div>
            </article>
            <article class="bg-white border border-gray-200 p-4 rounded-lg">
                <em class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Pizzeta
                    (23cm)</em>
                <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <img src="ima/pequena.jpg" alt="">
                </div>

                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        $18.000
                    </h1>
                </div>
            </article>
            <article class="bg-white border border-gray-200 p-4 rounded-lg">
                <em
                    class="bg-orange-200 border border-orange-400 rounded-full text-sm px-4 py-1 inline-block mb-4 ">Porción</em>
                <div class="w-auto h-56 overflow-hidden mx-auto transform transition duration-300 hover:scale-105">
                    <img src="ima/porcion.jpg" alt="">
                </div>
                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class="text-gray-900 text-lg">
                        $6.000
                    </h1>
                </div>
            </article>
    </main>

    <!-- Seccion de ubicacion -->
    <section class="my-12 max-w-screen-xl mx-auto px-6">
        <h1 id="ubicación" class="text-center md:text-1xl lg:text-3xl font-serif "><i>Ven a visitarnos</i>
        </h1>
        <aside class="mt-5">
            <p>
                📍 ¡Descubre nuestro lugar! Nos encontramos en el barrio Bochica, justo enfrente del al Multiparque
                Centenario, en la Carrera 4 #6a-47. ¡No esperes más para visitarnos y disfrutar de una experiencia
                única! ¿Qué estás esperando? ¡Te esperamos con los brazos abiertos!</p>
        </aside>
        <div class="mapa-responsivo">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2165.378918150403!2d-73.36026109289327!3d5.519088824269505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a7d0eee1e8033%3A0x5aa1415eec18633a!2sLa%20Pizza%20De%20%C3%89l%20Canas!5e0!3m2!1ses!2sco!4v1694278130307!5m2!1ses!2sco"
                frameborder="0" width="1200" height="400" style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="mt-5"></iframe>
        </div>
    </section>

    <!-- Footer -->

    <footer>
        <div class="p-10 bg-gray-800 text-gray-200">
            <div class="max-w-7xl mx-auto">
                <div class="grid grid-cols-auto grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                    <div class="mb-5">
                        <h4 class="pb-4">Compañia</h4>
                        <p class="text-gray-500">
                            Crr4 #6a-47 <br>
                            Tunja-Boyaca <br><br>
                            <strong>Telefono:</strong> +57 3106749454 <br>
                            <strong>Email:</strong> elcanas@gmail.com
                        </p>
                    </div>
                    <div class="mb-5">
                        <h4 class="pb-4">Legales</h4>
                        <ul class="text-gray-500">
                            <li class="pb-4 hover:text-orange-400 cursor-pointer">Politica de Tratamiento <br> de
                                Informacion
                            </li>
                            <li class="pb-4 hover:text-orange-400 cursor-pointer">Terminos y Condiciones</li>
                            <li class="pb-4 hover:text-orange-400 cursor-pointer">Acceso y Uso</li>
                            <li class="pb-4 hover:text-orange-400 cursor-pointer">Terminos legales</li>
                        </ul>
                    </div>
                    <div class="mb-5">
                        <h4 class="pb-4">Redes sociales</h4>
                        <ul class="text-gray-500">
                            <li class="pb-4 hover:text-orange-400 cursor-pointer">Instagram</li>
                            <li class="pb-4 hover:text-orange-400 cursor-pointer">Facebook</li>
                            <li class="pb-4 hover:text-orange-400 cursor-pointer">Whatsapp</li>
                        </ul>
                    </div>
                    <div class="mb-5">
                        <h4 class="pb-4">Acerca de</h4>
                        <ul class="text-gray-500">
                            <li class="pb-4 hover:text-orange-400 cursor-pointer">Tendencias</li>
                            <li class="pb-4 hover:text-orange-400 cursor-pointer">Sustentabilidad</li>
                            <li class="pb-4 hover:text-orange-400 cursor-pointer">Promociones</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full bg-gray-900 text-gray-500 px-10">
            <div class="max-w-7xl flex flex-col sm:flex-row py-4 mx-auto justify-between items-center">
                <div class="text-center">
                    <div>
                        Copyright <strong><samp>company</samp></strong> Todos los derechos reservados
                    </div>
                </div>
                <div class="text-center text-xl text-white mb-2">
                    <a href="https://www.instagram.com/lapizzadeelcanas?igsh=MWh4NHZwc3gxa2pzNA==" target="_blank"
                        class="w-10 h-10 rounded-full bg-orange-400 hover:bg-orange-300 mx-1 inline-block pt-1"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100063942588806&mibextid=ZbWKwL" target="_blank"
                        class="w-10 h-10 rounded-full bg-orange-400 hover:bg-orange-300 mx-1 inline-block pt-1"><i
                            class="fab fa-facebook"></i></a>
                    <a href="https://wa.me/3106749454?text=Hola,%20me%20gustaría%20ordenar%20una%20pizza"
                        target="_blank"
                        class="w-10 h-10 rounded-full bg-orange-400 hover:bg-orange-300 mx-1 inline-block pt-1"><i
                            class="fa-brands fa-whatsapp"></i></a>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>