<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/css/loginSigin.css" />

    <title>Iniciar sesión</title>
    <!--Tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--Favicon-->
    <link
      rel="icon"
      type="image/jpeg"
      href="../public/ima/favicon/pizza2.png"
    />
  </head>

  <body>
    <form
      action="/login"
      method="post"
      class="bg-white w-96 mt-36 p-4 rounded-lg drop-shadow-2xl mx-auto border-solid border-2 border-gray-200"
    >
      <img class="w-24 mx-auto rounded-full" src="../ima/logo.png" alt="logo" />
      <p class="text-orange-400 text-center text-xl italic font-semibold p-4">
        Iniciar sesión
      </p>
      <div class="flex flex-col space-y-6">
        <input
          class="w-full px-4 py-3 rounded-lg focus:outline-none border border-gray-400"
          type="text"
          placeholder="Nombre de usuario"
          name="name"
          value=""
        />
        <input
          class="w-full px-4 py-3 rounded-lg border border-gray-400 focus:outline-none"
          type="password"
          placeholder="Contraseña"
          name="password"
          value=""
        />
      </div>
      <div>
        <button
          type="submit"
          class="w-full py-3 bg-orange-400 text-white text-xl focus:outline-none mt-6 rounded-lg cursor: pointer"
        >
          Sign up
        </button>
      </div>
    </form>
    <script src="../public/js/login.js"></script>
  </body>
</html>
