<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head')%>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/simple-header') %>
        <h1 class="justify-content-center align-items-center text-center">Política de privacidad</h1>
        <div class="container">
            <ul>
                <li><b>Responsabilidad del Usuario</b></li>
                <p>En La pizza de el canas, valoramos y respetamos tu privacidad. Esta política de privacidad
                    describe cómo recopilamos, utilizamos y protegemos la información personal que nos proporcionas a
                    través de nuestro sitio web. Al utilizar nuestro sitio, aceptas los términos de esta política de
                    privacidad.</p>
                <li><b>Recopilación de Información</b></li>
                <p>Recopilamos información personal cuando realizas un pedido a través de nuestro sitio web, te
                    registras en nuestro boletín informativo, participas en encuestas o completas formularios en nuestro
                    sitio. La información que recopilamos puede incluir tu nombre, dirección de correo electrónico,
                    dirección postal, número de teléfono y otra información relevante para procesar tu pedido o
                    responder a tus consultas.</p>
                <li><b>Uso de la Información</b></li>
                <p>Utilizamos la información personal que recopilamos para procesar tus pedidos, gestionar tu cuenta,
                    enviar comunicaciones relacionadas con tu pedido y proporcionarte información sobre nuestros
                    productos, promociones y eventos especiales. También podemos utilizar tu información para mejorar
                    nuestros productos y servicios, así como para realizar análisis de mercado y estudios de
                    satisfacción del cliente.</p>
                <li><b>Protección de la Información</b></li>
                <p>Nos comprometemos a proteger la seguridad de tu información personal. Implementamos medidas de
                    seguridad físicas, electrónicas y procedimentales para proteger tu información contra el acceso no
                    autorizado, la alteración, la divulgación o la destrucción.</p>
                <li><b>Compartir Información</b></li>
                <p>No vendemos, intercambiamos ni alquilamos tu información personal a terceros. Sin embargo, podemos
                    compartir tu información con proveedores de servicios de confianza que nos ayudan a operar nuestro
                    sitio web o a prestar servicios en nuestro nombre, como el procesamiento de pagos o la entrega de
                    pedidos.</p>
                <li><b>Enlaces a Sitios de Terceros</b></li>
                <p>Nuestro sitio web puede contener enlaces a sitios web de terceros. Estos sitios web tienen sus
                    propias políticas de privacidad, por lo que te recomendamos revisar sus políticas antes de
                    proporcionarles tu información personal.</p>
                <li><b>Cambios en la Política de Privacidad</b></li>
                <p>Nos reservamos el derecho de actualizar o modificar esta política de privacidad en cualquier momento
                    y sin previo aviso. Cualquier cambio en esta política se publicará en esta página.</p>
                <li><b>Contacto</b></li>
                <p>Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, no dudes en contactarnos
                    a través de
                    <a href="mailto:contacto@lapizzadeelcanas.com">contacto@lapizzadeelcanas.com</a>.
                </p>
            </ul>
        </div>

        <%- include('../partials/footer') %>
</body>

</html>