<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Pizza De El Canas</title>
    <link rel="icon" type="image/jpg" href="favicon/pizza2.png" />
    <!--Tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>
     <!--Font Awesome-->
     <script src="https://kit.fontawesome.com/80719e25d6.js" crossorigin="anonymous"></script>
     <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="ima/favicon/pizza2.png" />

</head>
<body>
     <!--Header-->
    <header class="h-64 w-full bg-cover" style="background-image:url(https://www.itl.cat/pngfile/big/297-2975266_making-pizza-food-and-drink-pizzas-tomato-tomatoes.jpg) ;">
        <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-center text-5xl md:text-6xl lg:text-7xl font-serif text-white"><i>La Pizza <br>De El Canas</i></h1>
        </div>
    </header>
        
    <section class="my-12 max-w-screen-xl mx-auto px-6">
            <nav class="flex items-center justify-center space-x-6">
                <a href="index" >Menú</a>
                <a href="ubicacion" >Ubicación</a>
                <a href="precios" class="bg-orange-300 py-1 px-4 border border-orange-400 rounded-full">Precios</a>
            </nav>
 <!--Contenido-->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 mt-12">
                <section class="bg-white border border-gray-200 p-4 rounded-lg relative">
            <em class="bg-orange-200 border border-orange-400 rounded-full text-primary text-sm px-4 py-1 inline-block mb-4 "> Familiar (55cm)
            </em>
            <img class="w-64 mx-auto"src="ima/pexels-yassir-abbas-12046657.jpg" alt="">
            <div class="flex flex-col items-center my-3 space-y-2">
            <h1 class=" text-lg font-bold">
            $ 46.000
            </h1>
            </div>
          </section>
            
            
            <section class="bg-white border border-gray-200 p-4 rounded-lg relative">
            <em class="bg-orange-200 border border-orange-400 rounded-full text-primary text-sm  px-4 py-1 inline-block mb-4 ">Junior (40cm)</em>
            <img class="w-64 mx-auto "src="ima/pexels-yassir-abbas-12046657.jpg" alt="">
            <div class="flex flex-col items-center my-3 space-y-2">
                <h1 class=" text-lg font-bold">
                    $ 36.000
                </h1>
            </div>
          </section>
            
            <section class="bg-white border border-gray-200  p-4 rounded-lg relative">
                <em class="bg-orange-200 border border-orange-400 rounded-full text-primary text-sm  px-4 py-1 inline-block mb-4 ">Pizzeta (23cm)</em>
                <img class="w-64 mx-auto"src="ima/pexels-yassir-abbas-12046657.jpg" alt="">
                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class=" text-lg font-bold">
                        $ 18.000
                    </h1>
                </div>
              </section>
            <section class="bg-white border border-gray-200 p-4 rounded-lg relative">
                <em class="bg-orange-200 border border-orange-400 rounded-full text-primary text-sm  px-4 py-1 inline-block mb-4 ">Porción</em>
                <img class="w-64 mx-auto"src="ima/pexels-yassir-abbas-12046657.jpg" alt="">
                <div class="flex flex-col items-center my-3 space-y-2">
                    <h1 class=" text-lg font-bold">
                        $ 6.000
                    </h1>                
                </div>
              </section>
        </section>
<!--Pie de paguina-->
<%- include("partials/footer.ejs") %>


</body>
</html>