<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/productos.css" />
    <title>Productos</title>
    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="ima/favicon/pizza2.png" />
    <!-- Tailwind Css -->
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="js/productos.js"></script>
  </head>

  <body>
    <button id="logoutButton" type="button">Cerrar sesión</button>
    <h1>Productos</h1>
  </body>
</html>
