<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('partials/header') %>
        <h1 class="justify-content-center align-items-center text-center">Términos y condiciones</h1>
        <div class="container">
            <ol>
                <li><b>Responsabilidad del Usuario</b></li>
                <p>El usuario es responsable de garantizar que toda la información proporcionada al utilizar nuestro
                    sitio web sea precisa, actualizada y completa. El usuario también es responsable de mantener la
                    confidencialidad de su cuenta y contraseña.</p>
                <li><b>Propiedad Intelectual</b></li>
                <p>Todo el contenido presente en nuestro sitio web, incluyendo pero no limitado a texto, gráficos,
                    logotipos, imágenes y software, está protegido por derechos de autor y otros derechos de propiedad
                    intelectual.</p>
                <li><b>Política de Privacidad</b></li>
                <p>Nuestra política de privacidad describe cómo recopilamos, utilizamos y protegemos la información
                    personal de nuestros usuarios. Al utilizar nuestro sitio web, aceptas nuestras prácticas de
                    privacidad.</p>
                <li><b>Proceso de Pedido</b></li>
                <p>Al realizar un pedido a través de nuestro sitio web, aceptas los términos y condiciones de compra,
                    incluyendo opciones de entrega, métodos de pago y tiempos de entrega.</p>
                <li><b>Política de Cancelación y Devolución</b></li>
                <p>Los usuarios pueden cancelar o modificar sus pedidos de acuerdo con nuestra política de cancelación y
                    devolución. Para más información, consulta nuestra sección de políticas de cancelación y devolución
                    en nuestro sitio web.</p>
                <li><b>Precios y Promociones</b></li>
                <p>Los precios de nuestros productos están sujetos a cambios sin previo aviso. Las promociones y
                    descuentos especiales pueden estar sujetos a términos y condiciones adicionales.</p>
                <li><b>Limitación de Responsabilidad</b></li>
                <p>Nos esforzamos por proporcionar información precisa y actualizada en nuestro sitio web, pero no
                    garantizamos la exactitud, integridad o actualidad de la misma. Nos eximimos de cualquier
                    responsabilidad por daños o perjuicios derivados del uso de nuestro sitio web o de los productos
                    adquiridos a través de él.</p>
                <li><b>Enlaces a Terceros</b></li>
                <p>Nuestro sitio web puede contener enlaces a sitios web de terceros. Estos enlaces son proporcionados
                    únicamente para tu conveniencia y no implican respaldo por nuestra parte. No somos responsables del
                    contenido de los sitios web de terceros.</p>
                <li><b>Jurisdicción y Ley Aplicable</b></li>
                <p>Estos términos y condiciones se rigen por las leyes de Colombia, y cualquier disputa que surja en
                    relación con estos términos y condiciones estará sujeta a la jurisdicción exclusiva de los
                    tribunales de Tunja.</p>
                <li><b>Modificaciones de los Términos y Condiciones</b></li>
                <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento y sin previo
                    aviso. Los cambios entrarán en vigencia inmediatamente después de su publicación en nuestro sitio
                    web.</p>
            </ol>
        </div>

        <%- include('partials/footer') %>
</body>

</html>