
 <!--Pie de pagina-->
 <footer class="bg-zinc-700 text-white py-6">
    <div class="mx-auto flex flex-col items-center">
        <div class="mb-4 text-center">
            <div class="mb-4 text-center">
                <p class="text-lg font-semibold">La Pizza De El Canas</p>
            </div>
            <div class="mb-4 text-center">
                <p class="text-sm">Nuestra visión es llegar a más población Colombiana con nuestros sabores a un precio razonable.</p>
            </div>
            <p class="text-lg font-semibold">Contáctanos en nuestras redes sociales

              <div class="ml-2">
                <a href="https://www.instagram.com/lapizzadeelcanas?igsh=MWh4NHZwc3gxa2pzNA==" target="_blank" class="text-white mr-2"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100063942588806&mibextid=ZbWKwL" target="_blank" class="text-white mr-2"><i class="fab fa-facebook"></i></a>
                <a href="https://wa.me/3106749454?text=Hola,%20me%20gustaría%20ordenar%20una%20pizza" target="_blank" class="text-white"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
            </p>
        </div>
      
       
    
    </div>
</footer>