<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptate quidem quisquam aspernatur vitae
        consequuntur itaque iste dolorum ut veritatis qui quo nihil sit rerum, perferendis aliquid tempore officiis
        deleniti fugit. Cum quaerat necessitatibus nostrum quos minima nam! Et quidem incidunt unde eligendi, harum
        fugit quam modi maxime quo in, odit labore voluptas corrupti nemo libero. Tenetur sunt aliquam non praesentium,
        atque repellendus nemo minus impedit velit aperiam cum illum eius laborum dolorem consectetur eaque officiis
        earum corrupti provident. Pariatur sunt, consequatur possimus porro enim, earum animi harum cum odio beatae
        numquam! Consequatur natus nobis eos accusamus commodi maxime blanditiis!</p>
</footer>